/* Modern Reset and Standard Styles */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --bg-color: #5A1E76;
  --text-color: #fff;
  --accent-color: #ffd700;
  --text-color2: #72CFF9;
  --font-family: 'Fredoka One', cursive, system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
  background-color:#000;
  color: var(--text-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}

body {
  display: flex;
  border-radius: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(circle at center, #7a28a1 0%, #5A1E76 100%);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-name {
  position: fixed;
  left: 1rem;
  bottom: 0rem;
  color: var(--text-color2);
  z-index: 10;
}

.game-name h1 {
  font-size: 8rem;
  line-height: 1;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.game-name h2 {
  font-size: 8rem;
  line-height: 1;
  margin: 0;
  color: #ffd700;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.game-name h3 {
  font-size: 8rem;
  line-height: 1;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.github-button {
  height: 2rem;
  width: 5rem;
  position: fixed;
  border-radius: 5rem;
  right: 1rem;
  bottom: 1rem;
  color: #000;
  background-color: var(--text-color2);
  cursor: pointer;
  font-family: var(--font-family);
  text-shadow: 2px 2px 4px rgb(255, 255, 255,0.5);
}
.github-button:hover{
  background-color: var(--accent-color);
  scale: calc(1.2);
}